USE [master]
GO
/****** Object:  Database [TLCN]    Script Date: 1/9/2021 5:12:11 PM ******/
CREATE DATABASE [TLCN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TLCN', FILENAME = N'D:\CNTT\SQL_Server\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TLCN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TLCN_log', FILENAME = N'D:\CNTT\SQL_Server\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TLCN_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TLCN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TLCN]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/9/2021 5:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 1/9/2021 5:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Role] [nvarchar](max) NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDiches]    Script Date: 1/9/2021 5:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDiches](
	[MaGD] [int] IDENTITY(1,1) NOT NULL,
	[TenGD] [nvarchar](max) NULL,
	[TenCongThanhToan] [nvarchar](max) NULL,
	[UserID] [int] NOT NULL,
	[UserID1] [int] NULL,
	[NgayGD] [nvarchar](max) NULL,
 CONSTRAINT [PK_GiaoDiches] PRIMARY KEY CLUSTERED 
(
	[MaGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhs]    Script Date: 1/9/2021 5:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhs](
	[HinhID] [int] IDENTITY(1,1) NOT NULL,
	[TenHinh] [nvarchar](max) NULL,
	[ImageData] [varbinary](max) NULL,
	[sanPhamMaSP] [int] NULL,
 CONSTRAINT [PK_HinhAnhs] PRIMARY KEY CLUSTERED 
(
	[HinhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDons]    Script Date: 1/9/2021 5:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDons](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[TenHD] [nvarchar](max) NULL,
	[TrangThaiHD] [nvarchar](max) NULL,
	[MGD] [int] NOT NULL,
	[SanPhamInHoaDonMaSP] [int] NULL,
	[SanPhamInHoaDonMaHD] [int] NULL,
	[DiaChiGiaoHang] [nvarchar](max) NULL,
	[NgayXN] [nvarchar](max) NULL,
	[Tongdon] [nvarchar](max) NULL,
 CONSTRAINT [PK_HoaDons] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamInHoaDons]    Script Date: 1/9/2021 5:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamInHoaDons](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
 CONSTRAINT [PK_SanPhamInHoaDons] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 1/9/2021 5:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](max) NULL,
	[Mota] [nvarchar](max) NULL,
	[TenNSX] [nvarchar](max) NULL,
	[TennhomSP] [nvarchar](max) NULL,
	[DonGia] [float] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TinhTrang] [nvarchar](max) NULL,
	[SanPhamInHoaDonMaSP] [int] NULL,
	[SanPhamInHoaDonMaHD] [int] NULL,
	[urlHinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_SanPhams] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/9/2021 5:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[urlHinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201211030126_Updated', N'5.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201213175415_update_second', N'5.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201214152755_update_third', N'5.0.0')
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [Email], [Password], [Role], [UserID]) VALUES (1, N'cuong.1999.567@gmail.com', N'Cuong77p#', N'Admin', 1)
INSERT [dbo].[Accounts] ([AccountID], [Email], [Password], [Role], [UserID]) VALUES (3, N'thanh@gmail.com', N'12', N'Khách', 3)
INSERT [dbo].[Accounts] ([AccountID], [Email], [Password], [Role], [UserID]) VALUES (4, N'phu1999@gmail.com', N'phu123', N'SPAdmin', 4)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
SET IDENTITY_INSERT [dbo].[GiaoDiches] ON 

INSERT [dbo].[GiaoDiches] ([MaGD], [TenGD], [TenCongThanhToan], [UserID], [UserID1], [NgayGD]) VALUES (9, N'luyện Ngọc Thanh', N'Paypal', 3, NULL, N'12/24/2020')
INSERT [dbo].[GiaoDiches] ([MaGD], [TenGD], [TenCongThanhToan], [UserID], [UserID1], [NgayGD]) VALUES (10, N'Nguyễn Huy Cường', N'Paypal', 3, NULL, N'12/25/2020')
INSERT [dbo].[GiaoDiches] ([MaGD], [TenGD], [TenCongThanhToan], [UserID], [UserID1], [NgayGD]) VALUES (11, N'Phong', N'Paypal', 3, NULL, N'01/04/2021')
SET IDENTITY_INSERT [dbo].[GiaoDiches] OFF
SET IDENTITY_INSERT [dbo].[HoaDons] ON 

INSERT [dbo].[HoaDons] ([MaHD], [TenHD], [TrangThaiHD], [MGD], [SanPhamInHoaDonMaSP], [SanPhamInHoaDonMaHD], [DiaChiGiaoHang], [NgayXN], [Tongdon]) VALUES (9, N'luyện Ngọc Thanh', N'Đã xác nhận', 9, NULL, NULL, N'Bình Phước', N'01/09/2021', N'13999998')
INSERT [dbo].[HoaDons] ([MaHD], [TenHD], [TrangThaiHD], [MGD], [SanPhamInHoaDonMaSP], [SanPhamInHoaDonMaHD], [DiaChiGiaoHang], [NgayXN], [Tongdon]) VALUES (10, N'Nguyễn Huy Cường', N'Đã xác nhận', 10, NULL, NULL, N'Bình Dương', N'12/25/2020', N'10000000')
INSERT [dbo].[HoaDons] ([MaHD], [TenHD], [TrangThaiHD], [MGD], [SanPhamInHoaDonMaSP], [SanPhamInHoaDonMaHD], [DiaChiGiaoHang], [NgayXN], [Tongdon]) VALUES (11, N'Phong', N'Đã xác nhận', 11, NULL, NULL, N'Bình Dương', N'01/04/2021', N'10000000')
SET IDENTITY_INSERT [dbo].[HoaDons] OFF
INSERT [dbo].[SanPhamInHoaDons] ([MaHD], [MaSP]) VALUES (9, 10)
INSERT [dbo].[SanPhamInHoaDons] ([MaHD], [MaSP]) VALUES (9, 11)
INSERT [dbo].[SanPhamInHoaDons] ([MaHD], [MaSP]) VALUES (10, 11)
SET IDENTITY_INSERT [dbo].[SanPhams] ON 

SET IDENTITY_INSERT [dbo].[SanPhams] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Phone], [Address], [urlHinh]) VALUES (1, N'Cường', N'Nguyễn Huy', N'0933841781', N'Bình Dương', NULL)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Phone], [Address], [urlHinh]) VALUES (3, N'Thanh', N'Luyện', N'0943218973', N'Bình Phước', N'https://firebasestorage.googleapis.com/v0/b/tlcn-77beb.appspot.com/o/storage%2Favatar_1610090637776?alt=media&token=6c118437-b885-4b87-b0ce-c40cfe330fa4')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_Accounts_UserID]    Script Date: 1/9/2021 5:12:12 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Accounts_UserID] ON [dbo].[Accounts]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GiaoDiches_UserID]    Script Date: 1/9/2021 5:12:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_GiaoDiches_UserID] ON [dbo].[GiaoDiches]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GiaoDiches_UserID1]    Script Date: 1/9/2021 5:12:12 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_GiaoDiches_UserID1] ON [dbo].[GiaoDiches]
(
	[UserID1] ASC
)
WHERE ([UserID1] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HinhAnhs_sanPhamMaSP]    Script Date: 1/9/2021 5:12:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_HinhAnhs_sanPhamMaSP] ON [dbo].[HinhAnhs]
(
	[sanPhamMaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDons_MGD]    Script Date: 1/9/2021 5:12:12 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_HoaDons_MGD] ON [dbo].[HoaDons]
(
	[MGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDons_SanPhamInHoaDonMaSP_SanPhamInHoaDonMaHD]    Script Date: 1/9/2021 5:12:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDons_SanPhamInHoaDonMaSP_SanPhamInHoaDonMaHD] ON [dbo].[HoaDons]
(
	[SanPhamInHoaDonMaSP] ASC,
	[SanPhamInHoaDonMaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhamInHoaDons_MaHD]    Script Date: 1/9/2021 5:12:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhamInHoaDons_MaHD] ON [dbo].[SanPhamInHoaDons]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhams_SanPhamInHoaDonMaSP_SanPhamInHoaDonMaHD]    Script Date: 1/9/2021 5:12:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhams_SanPhamInHoaDonMaSP_SanPhamInHoaDonMaHD] ON [dbo].[SanPhams]
(
	[SanPhamInHoaDonMaSP] ASC,
	[SanPhamInHoaDonMaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Users_UserID]
GO
ALTER TABLE [dbo].[GiaoDiches]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDiches_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GiaoDiches] CHECK CONSTRAINT [FK_GiaoDiches_Users_UserID]
GO
ALTER TABLE [dbo].[GiaoDiches]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDiches_Users_UserID1] FOREIGN KEY([UserID1])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GiaoDiches] CHECK CONSTRAINT [FK_GiaoDiches_Users_UserID1]
GO
ALTER TABLE [dbo].[HinhAnhs]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnhs_SanPhams_sanPhamMaSP] FOREIGN KEY([sanPhamMaSP])
REFERENCES [dbo].[SanPhams] ([MaSP])
GO
ALTER TABLE [dbo].[HinhAnhs] CHECK CONSTRAINT [FK_HinhAnhs_SanPhams_sanPhamMaSP]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_GiaoDiches_MGD] FOREIGN KEY([MGD])
REFERENCES [dbo].[GiaoDiches] ([MaGD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_GiaoDiches_MGD]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_SanPhamInHoaDons_SanPhamInHoaDonMaSP_SanPhamInHoaDonMaHD] FOREIGN KEY([SanPhamInHoaDonMaSP], [SanPhamInHoaDonMaHD])
REFERENCES [dbo].[SanPhamInHoaDons] ([MaSP], [MaHD])
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_SanPhamInHoaDons_SanPhamInHoaDonMaSP_SanPhamInHoaDonMaHD]
GO
ALTER TABLE [dbo].[SanPhamInHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamInHoaDons_HoaDons_MaHD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDons] ([MaHD])
GO
ALTER TABLE [dbo].[SanPhamInHoaDons] CHECK CONSTRAINT [FK_SanPhamInHoaDons_HoaDons_MaHD]
GO
ALTER TABLE [dbo].[SanPhamInHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamInHoaDons_SanPhams_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPhams] ([MaSP])
GO
ALTER TABLE [dbo].[SanPhamInHoaDons] CHECK CONSTRAINT [FK_SanPhamInHoaDons_SanPhams_MaSP]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_SanPhamInHoaDons_SanPhamInHoaDonMaSP_SanPhamInHoaDonMaHD] FOREIGN KEY([SanPhamInHoaDonMaSP], [SanPhamInHoaDonMaHD])
REFERENCES [dbo].[SanPhamInHoaDons] ([MaSP], [MaHD])
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_SanPhamInHoaDons_SanPhamInHoaDonMaSP_SanPhamInHoaDonMaHD]
GO
USE [master]
GO
