<!-- log in -->
<body>
<div class="mid-class mt-1">
    <div class="art-right-w3ls">
       <h2>Sign In and Sign Up</h2>
       <form (ngSubmit)="login()" #loginForm="ngForm" method="post">
          <div class="main">
             <div class="form-left-to-w3l">
                <input type="text" name="email" id="email1" placeholder="Email" [(ngModel)]="email"
                [ngModelOptions]="{ standalone: true }" #email1="ngModel" required="">
                <div *ngIf="email1.invalid && (email1.dirty || email1.touched)"
                  class="alert alert-danger">Must not empty
                </div>
             </div>
             <div class="form-left-to-w3l ">
                <input type="password" name="pass" placeholder="Password" [(ngModel)]="password"
                [ngModelOptions]="{ standalone: true }" #pass="ngModel" required="">
                <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"
                  class="alert alert-danger">Must not empty
                </div>
                <div class="clear"></div>
             </div>
          </div>
          <div class="left-side-forget">
             <input type="checkbox" class="checked">
             <span class="remenber-me">Remember me </span>
          </div>
          <div class="right-side-forget">
             <a href="#" class="for">Forgot password...?</a>
          </div>
          <div class="clear"></div>
          <div class="btnn">
             <button type="submit">Sign In</button>
          </div>
       </form>
       <div class="w3layouts_more-buttn">
          <h3>Don't Have an account..?
             <a routerLink = "/register" >Sign Up Here</a>
          </h3>
       </div>      
    </div>
    <div class="art-left-w3ls">
       <h1 class="header-w3ls">
          ELECTRO STORE
       </h1>
    </div>
 </div>
</body>