<!DOCTYPE html>
<body>
	<!-- top-header -->
	<div *ngIf="isLogined() ; else loading" class="agile-main-top">
		<div class="container-fluid">
			<div class="row main-top-w3l py-2">
				<div class="col-lg-4 header-most-top">
					<p class="text-white text-lg-left text-center">Offer Zone Top Deals & Discounts
						<i class="fas fa-shopping-cart ml-1"></i>
					</p>
				</div>
				<div  class="col-lg-8 header-right mt-lg-0 mt-2">
					<!-- header lists -->
					<ul>						
						<li class="text-center border-right text-white">
							<i class="fas fa-phone mr-2"></i> 001 234 5678
						</li>
						<li class="text-center border-right text-white">
							<a routerLink = "/login" data-toggle="modal" data-target="#exampleModal" class="text-white">
								<i class="fas fa-sign-in-alt mr-2"></i> Log In </a>
						</li>
						<li class="text-center text-white">
							<a routerLink = "/register" data-toggle="modal" data-target="#exampleModal2" class="text-white">
								<i class="fas fa-sign-out-alt mr-2"></i>Register </a>
						</li>
					</ul>
					<!-- //header lists -->
				</div>
			</div>
		</div>
	</div>
	<ng-template #loading let-user>
		<div *ngIf="NotisAdmin();" class="agile-main-top">
			<div class="container-fluid">
				<div class="row main-top-w3l py-2">
					<div class="col-lg-4 header-most-top">
						<p class="text-white text-lg-left text-center">Offer Zone Top Deals & Discounts
							<i class="fas fa-shopping-cart ml-1"></i>
						</p>
					</div>
					<div  class="col-lg-8 header-right mt-lg-0 mt-2">
						<!-- header lists -->
						<ul>						
							<!-- <li class="text-center border-right text-white">
								<a data-toggle="modal" data-target="#exampleModal" class="text-white">
									<i class="fas fa-truck mr-2"></i>Track Order</a>
							</li> -->
							<li class="text-center border-right text-white">
								<i class="fas fa-phone mr-2"></i> 001 234 5678
							</li>
							<li class="text-center border-right text-white">
								<a routerLink = "/user-profile" data-toggle="modal"  class="text-white">
									<i class="fas fa-user-circle mr-2"></i>Accounts </a>
							</li>
							<li class="text-center text-white">
								<a routerLink = "/login" data-toggle="modal" data-target="#exampleModal" class="text-white" (click)='onLogout()'>
									<i class="fas fa-sign-in-alt mr-2"></i> Log Out </a>
							</li>
						</ul>
						<!-- //header lists -->
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="isAdmin();" class="agile-main-top">
			<div class="container-fluid">
				<div class="row main-top-w3l py-2">
					<div class="col-lg-4 header-most-top">
						<p class="text-white text-lg-left text-center">ADMIN
							<i class="fas fa-user-secret ml-1"></i>
						</p>
					</div>
					<div  class="col-lg-8 header-right mt-lg-0 mt-2">
						<!-- header lists -->
						<ul>						
							<li class="text-center border-right text-white">
								<a routerLink = "dashboard" data-toggle="modal"  class="text-white">
									<i class="fas fa-tachometer-alt mr-2"></i>Dashboard</a>
							</li>
							<!-- <li class="text-center border-right text-white">
								<a routerLink = "" data-toggle="modal"  class="text-white">
									<i class="fas fa-file mr-2"></i> Report</a>
							</li> -->
							<li class="text-center border-right text-white">
								<a routerLink = "/list-product" data-toggle="modal"  class="text-white">
									<i class="fas fa-shopping-cart mr-2"></i>Product </a>
							</li>
							<li class="text-center text-white">
								<a routerLink = "/user-profile" data-toggle="modal"  class="text-white">
									<i class="fas fa-user-circle mr-2"></i>Accounts </a>
							</li>
							<li class="text-center text-white">
								<a routerLink = "/login" data-toggle="modal" data-target="#exampleModal" class="text-white" (click)='onLogout()'>
									<i class="fas fa-sign-in-alt mr-2"></i> Log Out </a>
							</li>
						</ul>
						<!-- //header lists -->
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="isSPAdmin();" class="agile-main-top">
			<div class="container-fluid">
				<div class="row main-top-w3l py-2">
					<div class="col-lg-4 header-most-top">
						<p class="text-white text-lg-left text-center">SUPER ADMIN
							<i class="fas fa-user-secret ml-1"></i>
						</p>
					</div>
					<div  class="col-lg-8 header-right mt-lg-0 mt-2">
						<!-- header lists -->
						<ul>						
							<li class="text-center border-right text-white">
								<a routerLink = "" data-toggle="modal"  class="text-white">
									<i class="fas fa-tachometer-alt mr-2"></i>Dashboard</a>
							</li>
							<li class="text-center text-white">
								<a routerLink = "/user-profile" data-toggle="modal"  class="text-white">
									<i class="fas fa-user-circle mr-2"></i>Accounts </a>
							</li>
							<li class="text-center text-white">
								<a routerLink = "/login" data-toggle="modal" data-target="#exampleModal" class="text-white" (click)='onLogout()'>
									<i class="fas fa-sign-in-alt mr-2"></i> Log Out </a>
							</li>
						</ul>
						<!-- //header lists -->
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="isShipper();" class="agile-main-top">
			<div class="container-fluid">
				<div class="row main-top-w3l py-2">
					<div class="col-lg-4 header-most-top">
						<p class="text-white text-lg-left text-center">SUPER ADMIN
							<i class="fas fa-user-secret ml-1"></i>
						</p>
					</div>
					<div  class="col-lg-8 header-right mt-lg-0 mt-2">
						<!-- header lists -->
						<ul>						
							<li class="text-center border-right text-white">
								<a routerLink = "" data-toggle="modal"  class="text-white">
									<i class="fas fa-tachometer-alt mr-2"></i>Dashboard</a>
							</li>
							<li class="text-center text-white">
								<a routerLink = "/user-profile" data-toggle="modal"  class="text-white">
									<i class="fas fa-user-circle mr-2"></i>Accounts </a>
							</li>
							<li class="text-center text-white">
								<a routerLink = "/login" data-toggle="modal" data-target="#exampleModal" class="text-white" (click)='onLogout()'>
									<i class="fas fa-sign-in-alt mr-2"></i> Log Out </a>
							</li>
						</ul>
						<!-- //header lists -->
					</div>
				</div>
			</div>
		</div>
	</ng-template>
	<!-- //top-header -->
	<!-- header-bottom-->
	<div *ngIf="isLogined() ; else loading2" class="header-bot">
		<div class="container">
			<div class="row header-bot_inner_wthreeinfo_header_mid">
				<!-- logo -->
				<div class="col-md-3 logo_agile">
					<h1 class="text-center">
						<a href="index.html" class="font-weight-bold font-italic">
							<img src="../../assets/images/logo2.png" alt=" " class="img-fluid">Electro Store
						</a>
					</h1>
				</div>
				<!-- //logo -->
				<!-- header-bot -->
				<div class="col-md-9 header mt-4 mb-md-0 mb-4">
					<div class="row">
						<!-- search -->
						<div class="col-10 agileits_search">
							<form class="form-inline" action="#" method="post">
								<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="name"
								 [ngModelOptions]="{standalone: true}">
								<button class="btn my-2 my-sm-0" (click)="getSearch()" type="submit">Search</button>
							</form>
						</div>
						<!-- //search -->
						<!-- cart details -->
						<div class="col-2 top_nav_right text-center mt-sm-0 mt-2">
							<div class="wthreecartaits wthreecartaits2 cart cart box_1">
								<form action="#" method="post" class="last">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="display" value="1">
									<button routerLink = "/login" class="btn w3view-cart" type="submit" name="submit" value="">
										<i class="fas fa-cart-arrow-down"></i>
									</button>
								</form>
							</div>
						</div>
						<!-- //cart details -->
					</div>
				</div>
			</div>
		</div>
		<!-- navigation -->
		<div class="navbar-inner">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="agileits-navi_search">
						<!-- <form action="#" method="post">
							<select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
								<option value="">All Categories</option>
								<option value="Televisions">Televisions</option>
								<option value="Headphones">Headphones</option>
								<option value="Appliances">Appliances</option>
								<option value="Mobiles">Mobiles</option>
								<option value="iPad & Tablets">iPad & Tablets</option>
								<option value="Cameras & Camcorders">Cameras & Camcorders</option>
								<option value="Home Audio & Theater">Home Audio & Theater</option>
							</select>
						</form> -->
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-5 text-center">
							<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
								<a class="nav-link" routerLink = "/">Home
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Electronics
								</a>
								<div class="dropdown-menu">
									<div class="agile_inner_drop_nav_info p-4">
										<h5 class="mb-3">Mobiles, Computers</h5>
										<div class="row">
											<div class="col-sm-6 multi-gd-img">
												<ul class="multi-column-dropdown">
													<li>
														<a routerLink = "/product">All Mobile Phones</a>
													</li>
													<li>
														<a >All Mobile Accessories</a>
													</li>												
												</ul>
											</div>									
										</div>
									</div>
								</div>
							</li>						
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- //navigation -->
	</div>
	<!-- shop locator (popup) -->
	<!-- //header-bottom -->
	<ng-template #loading2 let-user>
		<div *ngIf="NotisAdmin();" class="header-bot">
			<div class="container">
				<div class="row header-bot_inner_wthreeinfo_header_mid">
					<!-- logo -->
					<div class="col-md-3 logo_agile">
						<h1 class="text-center">
							<a href="index.html" class="font-weight-bold font-italic">
								<img src="../../assets/images/logo2.png" alt=" " class="img-fluid">Electro Store
							</a>
						</h1>
					</div>
					<!-- //logo -->
					<!-- header-bot -->
					<div class="col-md-9 header mt-4 mb-md-0 mb-4">
						<div class="row">
							<!-- search -->
							<div class="col-10 agileits_search">
								<form class="form-inline" action="#" method="post">
									<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
									<button class="btn my-2 my-sm-0" type="submit">Search</button>
								</form>
							</div>
							<!-- //search -->
							<!-- cart details -->
							<div class="col-2 top_nav_right text-center mt-sm-0 mt-2">
								<div class="wthreecartaits wthreecartaits2 cart cart box_1">
									<form action="#" method="post" class="last">
										<input type="hidden" name="cmd" value="_cart">
										<input type="hidden" name="display" value="1">
										<button routerLink = "/cart" class="btn w3view-cart" type="submit" name="submit" value="">
											<i class="fas fa-cart-arrow-down"></i>
										</button>
									</form>
								</div>
							</div>
							<!-- //cart details -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- navigation -->
		<div *ngIf="NotisAdmin();" class="navbar-inner">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<!-- <div class="agileits-navi_search">
						<form action="#" method="post">
							<select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
								<option value="">All Categories</option>
								<option value="Televisions">Televisions</option>
								<option value="Headphones">Headphones</option>
								<option value="Appliances">Appliances</option>
								<option value="Mobiles">Mobiles</option>
								<option value="iPad & Tablets">iPad & Tablets</option>
								<option value="Cameras & Camcorders">Cameras & Camcorders</option>
								<option value="Home Audio & Theater">Home Audio & Theater</option>
							</select>
						</form>
					</div> -->
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-5 text-center">
							<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
								<a class="nav-link" routerLink = "/">Home
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Electronics
								</a>
								<div class="dropdown-menu">
									<div class="agile_inner_drop_nav_info p-4">
										<h5 class="mb-3">Mobiles, Computers</h5>
										<div class="row">
											<div class="col-sm-6 multi-gd-img">
												<ul class="multi-column-dropdown">
													<li>
														<a routerLink = "/product">All Mobile Phones</a>
													</li>												
												</ul>
											</div>									
										</div>
									</div>
								</div>
							</li>						
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- //navigation -->	
	</ng-template>	
</body>
