<div  class="privacy">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>I</span>nvoice
        </h3>
        <div class="table-responsive">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>Name of Invoice</th>
                        <th>Address</th>
                        <th>total</th>
                        <th>Condition</th>
                        <th>Day of Invoice</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let giaodich of listGiaodich  | filter:filterTerm | paginate: { itemsPerPage:5 , currentPage: p }" class="rem1">
                        <td>{{giaodich.hoaDon.tenHD}}</td>
                        <td>{{giaodich.hoaDon.diaChiGiaoHang}}</td>
                        <td>{{giaodich.hoaDon.tongdon | currency}}</td>
                        <td>{{giaodich.hoaDon.trangThaiHD}}</td>
                        <td>{{giaodich.hoaDon.ngayXN}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-2 mb-3">
                <pagination-controls (pageChange)="p = $event"></pagination-controls> 
            </div>                   
        </div>
        <button routerLink = "/user-profile"  class="btn btn-primary"><i class="glyphicon glyphicon-ok-sign"></i>Back</button>
    </div>
</div>